:root {
  --big-menu-width: 35rem;
  --small-menu-width: 30rem;
  --menu-button-option-width: 3rem;
  --menu-button-option-height: 3rem;
  --small-button-option-width: 2.5rem;
  --small-button-option-height: 2.5rem;
  --z-index-error: 6;
  --z-index-menu: 5;
  --z-index-sidebar: 4;
  --z-index-view-options: 3;
  --z-index-sidebar-cover: 2;
  --z-index-main: 1;
}

html {
  font-size: 62%;
}

/* GENERAL */

.content {
  display: grid;
}

.content-background-container {
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 25rem 1fr;
}

.content-background-container > * {
  position: relative;
  z-index: 2;
  background-attachment: fixed;
}

input, textarea {
  padding: 0 0.5rem;
}

input {
  min-height: 3rem;
}

textarea {
  min-height: 5rem;
}

/* header */

.content header {
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  align-content: center;
  grid-template-columns: 3rem 15rem 1fr 3rem;
  padding: 0 1rem;
  position: sticky;
  z-index: var(--z-index-view-options);
}

header .sidebar-icon {
  visibility: hidden;
}

header .heading {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 3rem 1fr;
  justify-items: start;
  align-items: center;
  padding-left: 2rem;
}

.heading .logo {
  width: 5rem;
  height: 5rem;
  justify-self: start;
}

.heading h1 {
  padding-left: 0.5rem;
  justify-self: start;
}

header button {
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
  justify-self: center;
  align-self: center;
}

header .empty {
  grid-area: 1 / 3 / 2 / 4;
}

header .options {
  grid-area: 1 / 4 / 2 / 5;
}

header .aside-icon {
  grid-area: 1 / 1 / 2 / 2;
  justify-items: center;
  align-items: center;
}

/* Sidebar */

.content aside {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 20rem 1fr 3rem;
  row-gap: 2rem;
  padding: 2rem 2.5rem;
  position: relative;
  z-index: var(--z-index-sidebar);
}

.bar-footer {
  text-decoration: none;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.bar-footer img {
  height: 1.5rem;
  width: 1.5rem;
}

.bar-footer span {
  font-size: 1.2rem;
}

.bar-types {
  display: grid;
  justify-items: stretch;
  gap: 1rem;
}

.bar-types > * {
  display: grid;
  grid-template-columns: 2rem 1fr;
  justify-items: start;
  align-items: center;
  gap: 0.3rem;
  padding: 0 1rem;
}

.bar-types img {
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
}

.bar-projects {
  display: grid;
  grid-template-rows: 4.75rem 1fr;
  gap: 1rem;
  padding: 1rem;
  padding-top: 0.5rem;
}

.bar-projects > * {
  display: grid;
  justify-items: start;
  gap: 0.5rem;
}

.bar-projects img,
.bar-projects button {
  width: var(--small-button-option-width);
  height: var(--small-button-option-height);
}

.bar-projects .header {
  display: grid;
  grid-template-columns: 2rem max-content max-content 1fr 3rem;
  align-content: center;
  justify-items: start;
}

/* Project */

.projects-list {
  display: grid;
  grid-auto-rows: min-content;
  min-height: 12rem;
  justify-items: stretch;
  align-items: start;
}

.bar-projects .project {
  display: grid;
  grid-template-columns: 3rem 1fr 2.5rem 2.5rem;
  align-items: center;
  justify-items: stretch;
  padding: 0.5rem;
  gap: 0.25rem;
}

.bar-projects .project span {
  margin-left: 0.5rem;
  overflow-x: hidden;
} 

.bar-projects .project > img,
.bar-projects .project > button {
  align-self: start;
} 

.projects-nav {
  display: grid;
  grid-template-columns: 1fr 6rem 1fr;
  align-items: center;
  justify-items: center;
}

/* View options */

.view-options-bar {
  position: absolute;
  top: 5rem;
  right: 0;
  min-height: 30rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr) 7.5rem;
  gap: 1rem;
  padding: 1.5rem;
  visibility: hidden;
  z-index: var(--z-index-view-options);
}

.view-options-bar.shown {
  visibility: visible;
}

.view-options-bar > div {
  display: grid;
  align-items: center;
  padding: 0.5rem 1rem;
}

.view-options-bar > div > .priority-border-box,
.view-options-bar > div > .status-border-box {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem 0 0 0;
}


.view-options-bar > div > .priority-header,
.view-options-bar > div > .status-header,
.view-options-bar > div > .sort-header {
  padding: 0;
  padding-left: 1rem;
}

.status-border-box > *,
.priority-border-box > * {
  display: grid;
  grid-template-columns: 3rem 9rem;
  min-height: 4rem;
  justify-self: center;
  justify-items: stretch;
  padding: 0 1rem;
  align-content: center;
}

.status-border-box label,
.priority-border-box label {
  align-self: center;
  justify-self: center;
}

.view-options-bar input {
  display: none;
}

.view-options-bar .option-button > .radio-button {
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);    
  padding: 0.4rem;
}

.view-options-bar .sort-options-main-box input {
  display: none;
}


.view-options-bar .sort-options-main-box {
  display: grid;
  grid-template-rows: 3rem 3rem;
}

.view-options-bar .sort-options-border-box {
  display: grid;
  grid-template-columns: 1fr var(--menu-button-option-width);
  gap: 1rem;
  padding: 0.5rem 0 0 0;
}

.sort-options-border-box .sort-arrow {
  height: var(--menu-button-option-height);
  width: var(--menu-button-option-width);
  align-self: center;
}

/* Main */

.content-background-container main {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: auto auto 1fr 3rem;
  padding: 1rem clamp(2rem, 4rem, 5rem);
  gap: 1rem;
  position: relative;
  z-index: var(--z-index-main);
}

main .header {
  padding: 0 2rem;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 5rem auto;
  z-index: var(--z-index-view-options);
}

main .header img {
  width: 6.5rem;
  height: 6.5rem;
  align-self: start;
}

main .header h2 {
  overflow-x: hidden;
  overflow-y: visible;
  overflow-wrap: break-word;
}

main .task-bar {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr var(--menu-button-option-width);
  max-height: var(--menu-button-option-height);
  justify-content: space-between;
  gap: 0.75rem;
}

.task-bar > * {
  padding: 0.5rem;
}

.task-bar .task-number {
  display: grid;
  justify-items: start;
  grid-template-columns: max-content max-content;
  padding-left: 1rem;
  gap: 0.5rem;
}

.task-bar span {
  align-self: center;
  justify-self: start;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Task component */

.task {
  display: grid;
  padding: 1rem;
}

.task .task-head-box {
  display: grid;
  grid-template-columns: 1fr 26rem;
  column-gap: 1rem;
  justify-items: stretch;
}

.task-head-box > * {
  min-height: 3rem;
}

.task-head-box-one {
  display: grid;
  grid-template-columns: var(--menu-button-option-width) 1fr;
  align-items: center;
  gap: 1rem;
}

.task-head-box-one > * {
  min-height: 3rem;
  display: grid;
  align-items: center;
}

.task-head-box-two {
  display: grid;
  grid-template-columns: var(--menu-button-option-width) 10rem repeat(3, var(--menu-button-option-width));
  align-items: center;
  gap: 1rem;
}

.task-head-box-two > * {
  min-height: 3rem;
  display: grid;
  align-items: center;
}

.task button {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.task .overdue-box {
  height: 3rem;
  width: 3rem;
}

.task .overdue {
  height: 3rem;
  width: 3rem;
  display: none;
}

.task .overdue.shown {
  display: block;
}

.task button {
  height: var(--small-button-option-height);
}

.task > * {
  display: grid;
  align-content: center;
  align-self: start;
}

.task .status {
  display: none;
}

.task label.status-checkbox {
  display: inline-block;
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
  position: relative;
  overflow: hidden;
  margin: 0;
  justify-self: center;
}

.task label.status-checkbox svg {
  width: 100%;
  height: 100%;
}

.task-bar .add-new {
  padding: 0;
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
  display: none;
}

.task-bar .add-new.shown {
  display: block;
}

.task .task-title-box {
  padding: 0 1rem;
  display: grid;
}

.task .task-due-date {
  display: flex;
  justify-content: center;
}

.task-unfold-box {
  grid-area: 2 / 1 / 3 / -1;
  display: none;
  padding: 1rem 0 0 0;
}

.task-unfold-box > * {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0.5rem;
  padding: 1rem;
  align-items: start;
}

.task-unfold-box.shown {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1rem;
}

/* Page menu */

.page-menu {
  justify-self: center;
  grid-row-gap: 0;
  display: grid;
  grid-template-columns: 3rem 6rem 3rem;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
}

.page-menu button {
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
}

.sidebar-cover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-sidebar-cover);
}

/* Remove confirmation menu */

.remove-menu {
  position: absolute;
  margin-top: 15rem;
  margin-left: calc((100% - var(--small-menu-width))/2);
  margin-right: calc((100% - var(--small-menu-width))/2);
  width: var(--small-menu-width);
  z-index: var(--z-index-menu);
  padding: 0 0 1rem 0;
  display: grid;
  gap: 2rem;
  visibility: hidden;
}

.remove-menu.shown {
  visibility: visible;
}

.remove-menu .title {
  display: grid;
  grid-template-columns: 1fr var(--menu-button-option-width);
  align-items: center;
  padding: 1rem;
}

.remove-menu .title .exit {
  height: var(--menu-button-option-height);
  align-self: start;
}

.remove-menu .remove-message {
  padding: 0 2rem;
}

.remove-menu .button-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: var(--menu-button-option-height);
  padding: 0 2rem;
  justify-items: stretch;
  gap: 2rem;
}

/* Error modal */

.error-modal {
  position: absolute;
  margin-top: 15rem;
  margin-left: calc((100% - var(--small-menu-width))/2);
  margin-right: calc((100% - var(--small-menu-width))/2);
  width: var(--small-menu-width);
  z-index: var(--z-index-error);
  padding: 0 0 2rem 0;
  visibility: hidden;
  display: grid;
}

.error-modal.shown {
  grid-template-rows: 5rem 1fr;
  gap: 2rem;
}

.error-modal .title {
  display: grid;
  grid-template-columns: 1fr var(--menu-button-option-width);
  padding: 0 1rem;
  align-items: center;
  align-content: center;
}

.error-modal .exit {
  height: var(--menu-button-option-height);
  align-self: start;
}

.error-modal .error-message {
  padding: 0 2rem;
}
.error-modal .error-process {
  padding: 0 2rem;
}

.error-modal .button-box {
  padding: 0 2rem;
  display: grid;
  justify-items: stretch;
}

.error-modal .exit-ok {
  height: var(--menu-button-option-height);
  align-self: center;
}

.error-cover {
  position: absolute;
  width: 100%;
  height: 150%;
  z-index: var(--z-index-error);
  display: none;
}

.error-cover.shown {
  display: block;
}

/* Project menu */

.project-menu {
  position: absolute;
  margin-top: 15rem;
  margin-left: calc((100% - var(--small-menu-width))/2);
  margin-right: calc((100% - var(--small-menu-width))/2);
  width: var(--small-menu-width);
  z-index: var(--z-index-menu);
  padding: 0 0 2rem 0;
  visibility: hidden;
  display: grid;
  grid-template-rows: 5rem 1fr;
  gap: 1rem;
}

.project-menu.shown {
  visibility: visible;
}

.project-menu .title {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr 3rem;
  align-items: center;
  align-content: center;
  padding: 0 1rem;
}

.project-menu .title .exit {
  grid-area: 1 / 2 / 2 / 3;
  align-self: start;
  justify-self: center;
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
  border-style: none;
}

.project-menu form {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  align-items: start;
  gap: 3rem;
  padding: 0 2rem;
}

.project-menu form > .title-box {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
}

.project-menu #project-name {
  height: var(--menu-button-option-height);
}

.project-menu form > fieldset {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.project-menu form > fieldset > .project-options {
  display: flex;
  justify-content: space-evenly;
  height: var(--menu-button-option-height);
}

.project-menu fieldset .project-icon-option {
  display: inline-block;
  width: var(--menu-button-option-width);
}

.project-icon-option label,
.project-icon-option input {
  display: none;
}

.project-menu form .button-box {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0 0 0;
  gap: 2rem;
}

.project-menu .button-box > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--menu-button-option-height);
}


/* Menus' cover */

.menu-cover {
  position: absolute;
  width: 100%;
  height: 150%;
  z-index: var(--z-index-menu);
  display: none;
}

/* Task menu */

.task-menu {
  position: absolute;
  background-color: var(--white);
  z-index: var(--z-index-menu);
  display: grid;
  grid-template-rows: 5rem 1fr;
  padding: 0 0 2rem 0;
  gap: 1rem;
  visibility: hidden;
}

.task-menu.shown {
  margin-top: 5rem;
  margin-left: calc((100% - var(--big-menu-width))/2);
  margin-right: calc((100% - var(--big-menu-width))/2);
  width: var(--big-menu-width);
  visibility: visible;
}

.task-menu > .title {
  padding: 0 1rem;
}

.task-menu > form {
  padding: 0 2rem;
}

.task-menu .title {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr var(--menu-button-option-width);
  align-content: center;
}

.task-menu .title .title-text {
  align-self: center;
}

.task-menu .title .exit {
  align-self: start;
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
}

.task-menu form {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  align-items: start;
  gap: 3rem;
}

.task-menu form > div {
  display: grid;
  align-items: center;
}

.task-menu form .title-box,
.task-menu form .due-date-box {
  grid-template-rows: 2rem 3rem;
}

.task-menu fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.task-menu fieldset div {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 0.5rem;
  align-items: center;
}

.task-menu input[type="radio"] {
  padding: 0;
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
  min-height: 2rem;
}

.task-menu textarea {
  resize: none;
}

.task-menu .button-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.task-menu .button-box > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--menu-button-option-height);
}

@media only screen and (max-width: 400px) {
 .content main {
  padding: 1rem;
 }
}

@media only screen and (max-width: 450px) {
  .content {
    position: relative;
  }
  .content-background-container main {
    grid-area: 2 / 2 / 3 / 3;
  }
  .content aside {
    grid-column-start: 1;
    grid-column-end: 3;
    visibility: hidden;
  }
  .content .view-options-bar {
    position: relative;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    top: 0;
    right: 0;
    z-index: var(--z-index-sidebar);
    min-height: max-content;
    align-items: start;
  }
  .view-options-bar > div {
    padding: 1rem 1.5rem;
  }
  .view-options-bar > div > .priority-border-box,
  .view-options-bar > div > .status-border-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0 0 0;
    grid-template-columns: var(--menu-button-option-width) 1fr;
  }
  .status-border-box > *, .priority-border-box > * {
    gap: 1rem;
    justify-content: center;
  }
  .view-options-bar .sort-options-border-box {
    grid-template-columns: 1fr var(--menu-button-option-width);
    justify-content: center;
    gap: 2rem;
  }
  .task .task-head-box {
    grid-template-columns: 1fr;
  }
  .task .task-head-box-two {
    grid-template-columns: var(--menu-button-option-width) 10rem repeat(3, auto);
  }
}

@media only screen and (max-width: 650px) {
  .task .task-head-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3rem;
    row-gap: 1rem;
  }
  .task-head-box-one {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 4rem 1fr;
  }
  .task-head-box-one label.status-checkbox {
    width: 4rem;
    height: 4rem;
  }
  .task-head-box-two {
    grid-area: 2 / 1 / 3 / 2;
  }
  .task-head-box-two {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 3rem 10rem repeat(3, 1fr);
  }
  .task button {
    width: max(2rem, 100%);
  }
  .page-menu {
   justify-self: auto;
   display: flex;
   justify-content: space-between;
  }
  .projects-nav {
    grid-template-columns: 1fr 6rem 1fr;
  }
  .projects-nav button {
    width: 5rem;
  }
  .page-menu button {
    width: max(5rem, 40%);
  }
}

@media only screen and (max-width: 900px) {
  .content-background-container main {
    min-height: 100svh;
  }
  .content {
    position: relative;
  }
  .content main {
    grid-area: 2 / 1 / 3 / 3;
  }
  .content aside {
    visibility: hidden;
  }
  header .sidebar-icon {
    visibility: visible;
  }
  .sidebar-cover.shown {
    display: block;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 51%;
  }
 }

@media screen and (min-width: 800px) {
  html {
    font-size: 63.5%;
  }
 }

@media screen and (min-width:1024px) { 
  html {
    font-size: 80%;
  }
 }

 @media screen and (min-width: 1440px) {
  html {
    font-size: 93%;
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 115%;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 152%;
  }
}

